<!-- upper watermake are -->
<div class="upper-area">
  <!-- 圖片加上浮水印區  nz watermark area -->
  <div
    class="watermaker-area-container"
    id="capture"
    *ngIf="cppatureImage != undefined"
  >
    <nz-water-mark
      [nzContent]="watermakrTextArr"
      [nzGap]="[20, 20]"
      [nzFont]="{ color: 'rgba(245, 245, 245, 0.28)', fontSize: 18 }"
    >
      <div class="watermaker-area">
        <img class="img--contain" [src]="cppatureImage" alt="" />
      </div>
    </nz-water-mark>
  </div>
</div>

<div class="container">
  <button
    nz-button
    nzType="primary"
    (click)="downloadImage()"
    nzBlock
    nzShape="round"
  >
    <span nz-icon nzType="download" nzTheme="outline"></span>
    下載圖片
  </button>
</div>

<!-- 設定按鈕 -->
<div class="setting-btn-area">
  <button
    nz-button
    nzType="primary"
    nzShape="round"
    (click)="showSettingDrawer(true)"
  >
    <span nz-icon nzType="setting" nzTheme="outline"></span>
    設定
  </button>
</div>

<!-- 設定 drawer -->
<nz-drawer
  [nzClosable]="true"
  [nzVisible]="isShowSettingDrawer"
  nzPlacement="right"
  nzTitle="設定"
  nzWidth="378px"
  (nzOnClose)="showSettingDrawer(false)"
>
  <ng-container *nzDrawerContent>
    <div class="setting-drawer-area">
      <!-- input area-->
      <div class="input-area">
        <!-- 浮水印文字 1-->
        <div class="input-field">
          <input
            class="input"
            [type]="'text'"
            placeholder="請輸入浮水印文字 1"
            [(ngModel)]="text1"
          />
        </div>

        <!-- 浮水印文字 2-->
        <div class="input-field">
          <input
            class="input"
            [type]="'text'"
            placeholder="請輸入浮水印文字 2"
            [(ngModel)]="text2"
          />
        </div>
      </div>

      <!-- 按扭區域 -->
      <button
        nz-button
        nzType="primary"
        (click)="takePicture('CAMERA')"
        nzBlock
        nzShape="round"
      >
        <span nz-icon nzType="camera" nzTheme="outline"></span>
        相機
      </button>
    </div>
  </ng-container>
</nz-drawer>
