<!-- upper watermake are -->
<div class="upper-area">
  <div class="watermaker-area-container" id="capture">
    <nz-water-mark
      [nzContent]="watermakrTextArr"
      [nzGap]="[20, 20]"
      [nzFont]="{ color: 'rgba(245, 34, 25, 0.38)' , fontSize: 18 }"
    >
      <div class="watermaker-area">
        <img class="img--cover" [src]="cppatureImage" alt="" />
      </div>
    </nz-water-mark>
  </div>
</div>

<h1>{{ watermakrTextArr[0] }}</h1>
<h1>{{ watermakrTextArr[1] }}</h1>

<button nz-button nzType="primary" (click)="downloadImage()" nzBlock>
  <span nz-icon nzType="download" nzTheme="outline"></span>
  下載圖片
</button>

<button nz-button nzType="primary" (click)="showSettingDrawer(true)">
  Open
</button>

<!-- 設定 drawer -->
<nz-drawer
  [nzClosable]="true"
  [nzVisible]="isShowSettingDrawer"
  nzPlacement="right"
  nzTitle="設定"
  nzWidth="378px"
  (nzOnClose)="showSettingDrawer(false)"
>
  <ng-container *nzDrawerContent>
    <div class="setting-drawer-area">
      <!-- input area-->
      <div class="input-area">
        <!-- 浮水印文字 1-->
        <div class="input-field">
          <input
            class="input"
            [type]="'text'"
            placeholder="請輸入浮水印文字 1"
            [(ngModel)]="text1"
          />
        </div>

        <!-- 浮水印文字 2-->
        <div class="input-field">
          <input
            class="input"
            [type]="'text'"
            placeholder="請輸入浮水印文字 2"
            [(ngModel)]="text2"
          />
        </div>
      </div>

      <!-- 按扭區域 -->
      <button
        nz-button
        nzType="primary"
        (click)="takePicture('CAMERA')"
        nzBlock
      >
        <span nz-icon nzType="camera" nzTheme="outline"></span>
        相機
      </button>
    </div>
  </ng-container>
</nz-drawer>
