<!-- upper watermake are -->
<div class="upper-area">
  <div class="watermaker-area-container" id="capture">
    <nz-water-mark
      [nzContent]="['Angular', 'NG Ant Design']"
      [nzGap]="[20, 20]"
      [nzFont]="{ color: 'rgba(245, 34, 25, 0.25)' }"
    >
      <div class="watermaker-area">
        <img class="img--cover" [src]="workerImage" alt="" />
      </div>
    </nz-water-mark>
  </div>
</div>

<!-- 按扭區域 -->
<div class="btn-area">
  <button nz-button nzType="primary" (click)="takePicture('CAMERA')" nzBlock>
    <span nz-icon nzType="camera" nzTheme="outline"></span>
    相機
  </button>

  <button nz-button nzType="primary" (click)="downloadImage()" nzBlock>
    <span nz-icon nzType="download" nzTheme="outline"></span>
    下載圖片
  </button>
</div>
